@page
@model CineMania.Pages.Contact_us.CreateModel

@{
    ViewData["Title"] = "Create";
}

<br>
<h4 align="center">Contact Us</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                            <label asp-for="User.Subject" class="control-label"></label>
                            <input asp-for="User.Subject" class="form-control" />
                            <span asp-validation-for="User.Subject" class="text-danger"></span>
                        </div>
            <div class="form-group">
                <label asp-for="User.Message" class="control-label"></label>
                <textarea asp-for="User.Message" class="form-control" rows="7" ></textarea>
                <span asp-validation-for="User.Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



